#activity{
    font-size: 1.1rem;
   
}

#activity .name{
    font-weight: 500;
    color: black;
}

.showDiv{
    display: inline;
    color: rgb(60, 24, 219);
    font-size: 0.8rem;
}

.hideDiv{
    display: none;
    
}
 
#activity i{
    margin-left: 1.3rem;
    font-size: 1.1em;
    
}

.cp{
    cursor: pointer;
}

.in-active{
color: red;
}
.an-active{
    color: rgb(24, 219, 24);
}