#activity{
    font-size: 1.1rem;
    color: gray;
}

#activity .name{
    font-weight: 500;
    color: black;
}

#activity .status{
    font-size: 0.8rem;
 
}
#activity i{
    margin-left: 1.3rem;
    font-size: 1.1em;
    
}

.cp{
    cursor: pointer;
}

.in-active{
color: red;
}
.an-active{
    color: green;
}